@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);

@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-jp.css);

/* ---- global styles ---- */

* { 
  font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
  outline: none; 
}



html {
  background-color: #f1f1f1;
  font-size: 14px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  letter-spacing: -0.02em;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
  word-break: keep-all;
  word-wrap: break-word;
  height:100%;
}

/* Reset `button` and button-style `input` default styles */

input[type='submit'],
input[type='reset'],
input[type='button'],
button {
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-appearance: button;
  /* for input */
  -webkit-user-select: none;
  /* for button */
  -moz-user-select: none;
  -ms-user-select: none;
}

input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.modal-dialog.modal-md{
  margin-top:40px;
}
.modal-body{
  padding:4% 1rem 5% 1rem;
}
.application {
  overflow-x: hidden;
}

.scrollOff{
  position:fixed;
  overflow:hidden;
  height:100%;
}

.banner__image{
  width : 100%;
  height : auto;
  border-radius: 3%;
  touch-action: none;
}

.menuable__content__active {
  z-index: 5 !important;
}

.v-input--selection-controls {
  margin:0 !important;
  padding:0 !important;
  position: absolute;
  right:5%;
  bottom:16.9%;
}

/* 페이지 애니메이션 왼쪽으로 슬라이드 */
.slideLeft-enter-active
{
  animation: slide-left-in .3s;
}
.slideLeft-leave-active {
  animation: slide-right-out .3s;
}

@keyframes slide-left-in {
  0% { transform: translateX(-100vw); }
  10% { transform: translateX(-75vw); }
  20% { transform: translateX(-55vw); }
  30% { transform: translateX(-40vw); }
  40% { transform: translateX(-30vw); }
  50% { transform: translateX(-22vw); }
  60% { transform: translateX(-16vw); }
  70% { transform: translateX(-12vw); }
  80% { transform: translateX(-8vw); }
  90% { transform: translateX(-4vw); }
  100% { transform: translateX(0vw); }
}
@keyframes slide-right-out {
  0% { transform: translateX(0); }
  10% { transform: translateX(25vw); }
  20% { transform: translateX(45vw); }
  30% { transform: translateX(60vw); }
  40% { transform: translateX(70vw); }
  50% { transform: translateX(78vw); }
  60% { transform: translateX(84vw); }
  70% { transform: translateX(88vw); }
  80% { transform: translateX(92vw); }
  90% { transform: translateX(96vw); }
  100% { transform: translateX(100vw); }
}


/* 페이지 애니메이션 오른쪽으로 슬라이드 */
.slideRight-enter-active
{
  animation: slide-right-in .3s;
}
.slideRight-leave-active {
  animation: slide-left-out .3s;
}

@keyframes slide-right-in {
  0% { transform: translateX(100vw); }
  10% { transform: translateX(75vw); }
  20% { transform: translateX(55vw); }
  30% { transform: translateX(40vw); }
  40% { transform: translateX(30vw); }
  50% { transform: translateX(22vw); }
  60% { transform: translateX(16vw); }
  70% { transform: translateX(12vw); }
  80% { transform: translateX(8vw); }
  90% { transform: translateX(4vw); }
  100% { transform: translateX(0vw); }
}
@keyframes slide-left-out {
  0% { transform: translateX(0); }
  10% { transform: translateX(-25vw); }
  20% { transform: translateX(-45vw); }
  30% { transform: translateX(-60vw); }
  40% { transform: translateX(-70vw); }
  50% { transform: translateX(-78vw); }
  60% { transform: translateX(-84vw); }
  70% { transform: translateX(-88vw); }
  80% { transform: translateX(-92vw); }
  90% { transform: translateX(-96vw); }
  100% { transform: translateX(-100vw); }
}


/* 페이지 트렌지션 없음 */
.nothing-enter-active
{
  animation: nothing-in .3s;
}
.nothing-leave-active {
  animation: nothing-out .3s;
}

@keyframes nothing-in {
  0% { transform: translateX(0); }
  100% { transform: translateX(0); }
}
@keyframes nothing-out {
  0% { transform: translateX(0);  }
  100% { transform: translateX(0);  }
}

button:focus {outline:0;}


@media screen and  (max-width: 600px) {
  .btn {
    width: 35%;
    font-size: 16px;
    line-height: 34px;
    margin: 10px 0 10px 0% !important;
  }

  .container{
    padding: 10px 0 0 0 !important;
  }
}
